.search-box input {
    width: 400px;
    padding: 0.5rem;
    border-radius: 18px;
    outline: none;
    border: none;
    box-shadow: 0 0 12px #c8c8c8;
    font-size: 1rem;
    border-bottom: 0.5px solid;
}