@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Neucha&family=PT+Serif&display=swap');

:root {
    --primary-font: 'Andada Pro', serif;
    --secondary-font: 'Neucha', cursive;
    --tertiary-font: 'PT Serif', serif;
    --primary-color: #509ecf;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: var(--primary-font);
}

.App {
    display: flex;
    gap: 2rem;
}

.container {
    padding: 1rem;
}